#footer {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #333;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 1px;
}
.input {
  --theme-color: #70c000;
  --selection-color: rgba(112, 192, 0, 0.35);
  --w-alpha-5: rgba(0, 0, 0, 0.05);
  --w-alpha-10: rgba(0, 0, 0, 0.1);
  --w-alpha-20: rgba(0, 0, 0, 0.2);
  --w-alpha-30: rgba(0, 0, 0, 0.3);
  --w-alpha-50: rgba(30, 30, 30, 0.5);
  --w-alpha-70: rgba(30, 30, 30, 0.7);
  --w-alpha-80: rgba(30, 30, 30, 0.8);
  --w-alpha-90: rgba(30, 30, 30, 0.9);
  --bg-w-235: rgb(30, 30, 30);
  --bg-w-pure: rgb(30, 30, 30);
  --txt-w-pure: black;
  --txt-b-pure: white;
  --txt-b-tip: rgba(255, 255, 255, 0.5);
  --b-alpha-5: rgba(255, 255, 255, 0.05);
  --b-alpha-10: rgba(255, 255, 255, 0.1);
  --b-alpha-15: rgba(255, 255, 255, 0.15);
  --b-alpha-20: rgba(255, 255, 255, 0.2);
  --b-alpha-30: rgba(255, 255, 255, 0.3);
  --b-alpha-35: rgba(255, 255, 255, 0.35);
  --b-alpha-40: rgba(255, 255, 255, 0.4);
  --b-alpha-50: rgba(255, 255, 255, 0.5);
  --b-alpha-60: rgba(255, 255, 255, 0.6);
  --b-alpha-70: rgba(255, 255, 255, 0.7);
  --b-alpha-80: rgba(255, 255, 255, 0.8);
  --b-alpha-90: rgba(255, 255, 255, 0.9);
  --w-alpha-60: rgba(30, 30, 30, 0.6);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  box-sizing: border-box;
  width: 400px;
  outline: none;
  border: none;
  padding: 13px 15px;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  backdrop-filter: blur(10px);
  transition: color 0.25s, background-color 0.25s, box-shadow 0.25s, left 0.25s,
    opacity 0.25s, top 0.25s, width 0.25s;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 1;
}
