/*
©SimSoft 版权所有 严禁抄袭
*/
html{-ms-overflow-style:none;overflow:hidden}
*{scrollbar-width:none}
*{user-select:none;-webkit-tap-highlight-color:transparent;font-family:微软雅黑}
::-webkit-scrollbar{width:0;height:5px}
::-webkit-scrollbar-thumb{background:var(--maincolor);border-radius:10px}
body{--bradius:10px}/*全局动态调节*/
.vip{background-image:linear-gradient(gold,yellow,gold);border-radius:5px;color:red;padding-left:2px;padding-right:2px;margin-right:2px;margin-left:2px;font-size:0.8em}

@media screen and (max-width:800px ) {
  /*通知框*/
  .notice{position:fixed;left:0;right:0;margin:auto;width:calc(100vw - 20px);top:-100px;border-radius:0 0 5px 5px;margin-top:-5px;padding:10px;box-shadow:0 2px 2px 0 rgba(0,0,0,0.5);background:var(--maincolor);color:white;height:auto;min-height:1em;z-index:100;transition:top .4s;padding-top:15px;margin-top:-10px}
  .notice a,.publicnotice a{color:white;text-decoration:none}
  .notice a:active,.publicnotice a:active{opacity:0.5}
  .publicnotice{position:fixed;left:0;right:0;margin:auto;width:calc(100vw - 20px);bottom:-100px;border-radius:5px 5px 0 0;margin-top:-5px;padding:10px;box-shadow:0 -2px 2px 0 rgba(0,0,0,0.5);background:var(--maincolor);color:white;height:auto;min-height:1em;z-index:100;transition:bottom .4s;}
  .publicnotice svg{fill:white}
  /*主页部分*/
  .main-page{position:fixed;z-index:1;top:0;left:0;width:100vw;height:100vh;transition:all .4s;background:grey}
  .main-page .backimg{position:absolute;z-index:-1;object-fit:cover;width:100vw;height:100vh;opacity:0;transition:all .2s}
  .main-page #bg-mask{position:absolute;z-index:-1;width:100vw;height:100vh;opacity:0;transition:all .2s;background:radial-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%), radial-gradient(rgba(0,0,0,0) 33%, rgba(0,0,0,0.3) 166%)}
  .main-page .time{position:absolute;top:20vh;width:100%}
  .main-page #time{display:inline-block;font-size:3.4em;color:white;text-shadow:0 0 5px black;transition:all .2s;}
  .main-page #time:hover{color:#ececec}
  .main-page #time:active{transform:scale(0.9)}
  .main-page .yiyan{position:absolute;top:calc(20vh + 55px);width:100%;display:none;}
  .main-page #yiyan{display:inline-block;font-size:1em;color:white;text-shadow:0 0 5px black;transition:all .2s;padding-left:1em}
  .main-page #yiyan:hover{color:#ececec}
  .main-page .search{transition:all .2s;height:35px;position:absolute;left:0;right:0;margin:auto;width:80vw;min-width:300px;max-width:400px;top:calc(20vh + 100px);border-radius:var(--bradius);backdrop-filter:var(--blur);background:rgba(255,255,255,0.6)}
  .main-page .search-focus{max-width:100vw;min-width:300px;transition:all .2s;height:35px;position:absolute;left:0;right:0;margin:auto;width:calc(100vw - 30px);top:10px;border-radius:var(--bradius);box-shadow:0 0 5px 0 black;background:white;border:1px solid white}
  .main-page .search #search{color:black;background:transparent;border:0;outline:none;padding:8px;width:calc(100% - 20px);text-align:center;font-size:1.1em}
  .main-page .search:focus-within{background:white}
  .main-page .search:focus-within #search::placeholder{color:transparent}
  .main-page .search-focus #search{color:black;background:transparent;border:0;outline:none;padding:8px;width:calc(100% - 80px);text-align:left;font-size:1.1em}
  .main-page .search #search::placeholder{color:#4e4e4e}
  .main-page .search div.icon{white-space:nowrap;display:inline-block;overflow:hidden;width:0;overflow:hidden;vertical-align:middle}
  .main-page .search-focus div.icon{display:inline-block;overflow:hidden;width:55px;vertical-align:middle}
  .main-page .search-focus div.icon svg:hover{fill:var(--maincolor)}
  .main-page .advice{--toppx:60px;top:150vh;position:fixed;background:rgba(255,255,255,0.8);height:fit-content;margin-top:10px;opacity:0;transition:margin-top .2s,opacity .2s,top .4s;left:0;right:0;width:calc(100vw - 30px);border-radius:var(--bradius);margin-top:10px;padding-bottom:10px;padding-top:10px;margin:auto;}
  .main-page .advice .advlist{padding:10px;transition:background .2s,color .2s,opacity .2s,fill .2s;white-space:nowrap;width:calc(100% - 20px);overflow:hidden;text-overflow:ellipsis;}
  .main-page .advice .advlist:hover{background:var(--maincolor);color:white;fill:white}
  .main-page .advice .advlist:active{opacity:0.8;}
  .main-page .advice .advlist span{vertical-align:middle}
  /*设置窗口部分*/
  .setting{box-shadow:0 0 5px 0 rgba(0,0,0,0.5);position:fixed;top:0px;left:0px;bottom:0px;right:0px;z-index:5;transition:all .2s;overflow:hidden;width:100vw;height:auto}
  .setting-mask{backdrop-filter:var(--blur);z-index:4;position:fixed;top:0;left:0;height:100vh;width:100vw;background:rgba(0,0,0,0.7)}
  .setting .left-bar{height:100%;background:rgba(255,255,255,0.8);display:inline-block;width:40px;backdrop-filter:var(--blur);float:left;overflow-y:scroll}
  .setting .left-bar .header{padding-top:10px;padding-bottom:10px;text-align:center}
  .setting .left-bar .header svg{vertical-align:middle;fill:var(--maincolor);width:1.5em;height:1.5em;}
  .setting .left-bar .header span{display:none}
  .setting .list{white-space:nowrap;padding:10px;padding-left:0;transition:all .2s;margin-top:2px}
  .setting .list:hover{background:rgba(255,255,255,0.8);}
  .setting .list:active{transform:scale(0.95)}
  .setting .list svg{padding-left:10px;vertical-align:middle;border-left:0px solid transparent}
  .setting .list span{display:none}
  .setting .list.active{padding:10px;padding-left:0;background:rgba(255,255,255,0.8);}
  .setting .list.active:active{transform:scale(1)}
  .setting .list.active svg{padding-left:6px;border-left:4px solid var(--maincolor);fill:var(--maincolor)}
  .setting .set-main{display:inline-block;height:100%;width:calc(100% - 40px);background:white;float:right}
  .setting .close-btn{padding:5px 15px 5px 15px;position:absolute;top:0;right:0;transition:all .2s;background:white}
  .setting .close-btn:hover{background:red;fill:white}
  .setting .close-btn:active{background:red;fill:#ffc5c5}
  .setting .page{display:none;padding:10px;overflow-y:scroll;height:100%}
  .setting .page.active{display:block;padding:10px}
  .setting .page header{font-size:1.5em}
  .setting .page .diy-btn{background:var(--maincolor);margin-top:5px;padding:5px 20px 5px 20px;border-radius:5px;color:white;display:inline-block;transition:opacity .2s}
  .setting .page .diy-btn:hover{opacity:0.9}
  .setting .page .diy-btn:active{opacity:0.8}
  .setting .page .wallpapers{box-shadow:0 0 0 0 var(--maincolor);margin:2px;width:100px;height:80px;border-radius:5px;object-fit:cover;transition:box-shadow .2s;}
  .setting .page .wallpapers:hover{opacity:0.8}
  .setting .page .wallpapers.selected{box-shadow:0 0 0 2px var(--maincolor);}
  .setting .page .detail{height:calc(100% - 50px);overflow-y:scroll}
  .setting .page .detail .set{padding:5px;margin-top:5px;transition:opacity 0.2s}
  .setting .page .detail .set:hover{opacity:0.8}
  .setting .page .detail .set:active{opacity:0.5}
  .setting .page .detail .set .name{vertical-align:middle;width:calc(100% - 50px);display:inline-block}
  .setting .page .detail .set select{vertical-align:middle;border-radius:10px;height:22px;border:0;background:#f1f1f1;padding:1px;width:100px;outline:none;display:inline-block;transition:all .2s}
  .setting .page .detail .set.on .btn{vertical-align:middle;border-radius:10px;height:15px;background:var(--maincolor);padding:1px;width:30px;display:inline-block;transition:all .2s}
  .setting .page .detail .set.on .btn span{background:white;border-radius:10px;height:15px;width:15px;margin-left:15px;display:inline-block;position:absolute;transition:all .2s}
  .setting .page .detail .set.off .btn{vertical-align:middle;margin-top:2px;border-radius:10px;height:15px;background:#b4b4b4;padding:1px;width:30px;display:inline-block;transition:all .2s}
  .setting .page .detail .set.off .btn span{background:white;border-radius:10px;height:15px;width:15px;margin-left:0px;display:inline-block;position:absolute;transition:all .2s}
  .setting .logincard{padding:5px;box-shadow:0 0 3px 0 black;margin:5px;border-radius:5px}
  .setting .logincard:hover{background:#f1f1f1}
  .setting .logincard .lnotice{color:grey}
  .setting .txtblock{background:#f1f1f1;border-radius:10px;padding:5px;font-size:0.9em}
  .setting .txtblock .slist:hover{opacity:0.8;}
}
@media screen and (min-width:800px ) {
  /*通知框*/
  .notice{position:fixed;left:0;right:0;margin:auto;width:400px;top:-100px;border-radius:5px;padding:10px;box-shadow:0 2px 2px 0 rgba(0,0,0,0.5);background:var(--maincolor);color:white;height:auto;min-height:1em;z-index:100;transition:top .4s;}
  .notice a,.publicnotice a{color:white;text-decoration:none}
  .notice a:active,.publicnotice a:active{opacity:0.5}
  .publicnotice{position:fixed;left:0;right:0;margin:auto;width:calc(100vw - 20px);bottom:-100px;border-radius:5px 5px 0 0;margin-top:-5px;padding:10px;box-shadow:0 -2px 2px 0 rgba(0,0,0,0.5);background:var(--maincolor);color:white;height:auto;min-height:1em;z-index:100;transition:bottom .4s;}
  .publicnotice svg{fill:white}
  /*主页部分*/
  .main-page{position:fixed;z-index:1;top:0;left:0;width:100vw;height:100vh;transition:all .4s;background:grey}
  .main-page .backimg{position:absolute;z-index:-1;object-fit:cover;width:100vw;height:100vh;opacity:0;transition:all .2s}
  .main-page #bg-mask{position:absolute;z-index:-1;width:100vw;height:100vh;opacity:0;transition:all .2s;background:radial-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%), radial-gradient(rgba(0,0,0,0) 33%, rgba(0,0,0,0.3) 166%)}
  .main-page .time{position:absolute;top:calc(10vh - 13px);width:100%;}
  .main-page #time{display:inline-block;font-size:3.4em;color:white;text-shadow:0 0 5px black;transition:all .2s;margin-right:425px}
  .main-page #time:hover{color:#ececec}
  .main-page #time:active{transform:scale(0.9)}
  .main-page .yiyan{position:absolute;top:calc(10vh + 35px);width:100%;display:none;}
  .main-page #yiyan{display:inline-block;font-size:1em;color:white;text-shadow:0 0 5px black;transition:all .2s;padding-left:1em;margin-right:425px}
  .main-page #yiyan:hover{color:#ececec}
  .main-page .search{box-shadow: 0 0 5px 0 black;transition:all .2s;height:40px;position:absolute;left:250px;right:0;margin:auto;width:80vw;min-width:300px;max-width:400px;top:calc(10vh + 5px);border-radius:var(--bradius);backdrop-filter:var(--blur);background:rgba(255,255,255,0.8)}
  .main-page .search:hover{background:white;box-shadow: 0 0 5px 0 black}
  .main-page .search-focus{max-width:500px;min-width:300px;transition:all .2s;height:40px;position:absolute;left:0;right:0;margin:auto;width:calc(100vw - 30px);top:calc(50vh - 250px);border-radius:var(--bradius);box-shadow:0 0 5px 0 black;background:white;border:1px solid white}
  .main-page .search #search{color:black;background:transparent;border:0;outline:none;padding:8px;width:calc(100% - 20px);text-align:center;font-size:1.1em}
  .main-page .search:focus-within{background:white}
  .main-page .search:focus-within #search::placeholder{color:transparent}
  .main-page .search-focus #search{color:black;background:transparent;border:0;outline:none;padding:8px;width:calc(100% - 80px);text-align:left;font-size:1.1em}
  .main-page .search #search::placeholder{color:#4e4e4e}
  .main-page .search div.icon{white-space:nowrap;display:inline-block;overflow:hidden;width:0;overflow:hidden;vertical-align:middle}
  .main-page .search-focus div.icon{display:inline-block;overflow:hidden;width:55px;vertical-align:middle}
  .main-page .search-focus div.icon svg:hover{fill:var(--maincolor)}
  .main-page .advice{--toppx:calc(50vh - 200px);top:150vh;position:fixed;background:rgba(255,255,255,0.8);height:fit-content;margin-top:10px;opacity:0;transition:margin-top .2s,opacity .2s,top .4s;left:0;right:0;width:calc(100vw - 30px);border-radius:var(--bradius);margin-top:10px;padding-bottom:10px;padding-top:10px;margin:auto;max-width:500px;}
  .main-page .advice .advlist{padding:10px;transition:background .2s,color .2s,opacity .2s,fill .2s;white-space:nowrap;width:calc(100% - 20px);overflow:hidden;text-overflow:ellipsis;}
  .main-page .advice .advlist:hover{background:var(--maincolor);color:white;fill:white}
  .main-page .advice .advlist:active{opacity:0.8;}
  .main-page .advice .advlist span{vertical-align:middle}
  /*设置窗口部分*/
  .setting{box-shadow:0 0 5px 0 rgba(0,0,0,0.5);position:fixed;top:20px;left:20px;bottom:20px;right:20px;z-index:5;transition:all .2s;border-radius:var(--bradius);overflow:hidden;width:60vw;min-width:500px;height:80vh;margin:auto}
  .setting-mask{backdrop-filter:var(--blur);z-index:4;position:fixed;top:0;left:0;height:100vh;width:100vw;background:rgba(0,0,0,0.7)}
  .setting .left-bar{height:100%;background:rgba(255,255,255,0.8);display:inline-block;width:150px;backdrop-filter:var(--blur);float:left;overflow-y:scroll}
  .setting .left-bar .header{padding:10px}
  .setting .left-bar .header svg{vertical-align:middle;fill:var(--maincolor);width:1.5em;height:1.5em;float:left;margin-top:1px}
  .setting .left-bar .header span{vertical-align:middle;font-size:1.2em;font-weight:normal}
  .setting .list{white-space:nowrap;padding:10px;padding-left:0;transition:all .2s;margin-top:2px}
  .setting .list:hover{background:rgba(255,255,255,0.8);}
  .setting .list:active{transform:scale(0.95)}
  .setting .list svg{padding-left:10px;vertical-align:middle;border-left:0px solid transparent}
  .setting .list span{vertical-align:middle}
  .setting .list.active{padding:10px;padding-left:0;background:rgba(255,255,255,0.8);}
  .setting .list.active:active{transform:scale(1)}
  .setting .list.active svg{padding-left:6px;border-left:4px solid var(--maincolor);fill:var(--maincolor)}
  .setting .set-main{display:inline-block;height:100%;width:calc(100% - 150px);background:white;float:right}
  .setting .close-btn{padding:5px 15px 5px 15px;position:absolute;top:0;right:0;transition:all .2s;background:white}
  .setting .close-btn:hover{background:red;fill:white}
  .setting .close-btn:active{background:red;fill:#ffc5c5}
  .setting .page{display:none;padding:10px;overflow-y:scroll;height:100%}
  .setting .page.active{display:block;padding:10px}
  .setting .page header{font-size:1.5em}
  .setting .page .diy-btn{background:var(--maincolor);margin-top:5px;padding:5px 20px 5px 20px;border-radius:5px;color:white;display:inline-block;transition:opacity .2s}
  .setting .page .diy-btn:hover{opacity:0.9}
  .setting .page .diy-btn:active{opacity:0.8}
  .setting .page .wallpapers{box-shadow:0 0 0 0 var(--maincolor);margin:2px;width:100px;height:80px;border-radius:5px;object-fit:cover;transition:box-shadow .2s;}
  .setting .page .wallpapers:hover{opacity:0.8}
  .setting .page .wallpapers.selected{box-shadow:0 0 0 2px var(--maincolor);}
  .setting .page .detail{height:calc(100% - 50px);overflow-y:scroll}
  .setting .page .detail .set{padding:5px;margin-top:5px;transition:opacity 0.2s}
  .setting .page .detail .set:hover{opacity:0.8}
  .setting .page .detail .set:active{opacity:0.5}
  .setting .page .detail .set .name{vertical-align:middle;width:calc(100% - 50px);display:inline-block}
  .setting .page .detail .set select{vertical-align:middle;border-radius:10px;height:22px;border:0;background:#f1f1f1;padding:1px;width:100px;outline:none;display:inline-block;transition:all .2s}
  .setting .page .detail .set.on .btn{vertical-align:middle;border-radius:10px;height:15px;background:var(--maincolor);padding:1px;width:30px;display:inline-block;transition:all .2s}
  .setting .page .detail .set.on .btn span{vertical-align:top;background:white;border-radius:10px;height:15px;width:15px;margin-left:15px;display:inline-block;transition:all .2s}
  .setting .page .detail .set.off .btn{vertical-align:middle;border-radius:10px;height:15px;background:#b4b4b4;padding:1px;width:30px;display:inline-block;transition:all .2s}
  .setting .page .detail .set.off .btn span{vertical-align:top;background:white;border-radius:10px;height:15px;width:15px;margin-left:0px;display:inline-block;transition:all .2s}
  .setting .logincard{padding:5px;box-shadow:0 0 3px 0 black;margin:5px;border-radius:5px}
  .setting .logincard:hover{background:#f1f1f1}
  .setting .logincard .lnotice{color:grey}
  .setting .txtblock{background:#f1f1f1;border-radius:10px;padding:5px;font-size:0.9em}
  .setting .txtblock .slist:hover{opacity:0.8;}
}

@media (prefers-color-scheme: dark) {
  .search-focus{background:rgba(50,50,50)!important;border:1px solid rgb(50,50,50)!important;fill:rgb(200,200,200)!important}
  #search{color:rgb(200,200,200)!important}
  #search::placeholder{color:rgb(150,150,150)!important}
  .search{background:rgba(50,50,50,0.8)!important;box-shadow:0 0 5px 0 rgba(255,255,255.5);fill:rgb(200,200,200)!important}
  .search:hover{background:rgb(50,50,50)!important}
  .advice{background:rgba(0,0,0,0.8)!important;color:rgb(200,200,200)!important;fill:rgb(200,200,200)!important}
  .setting .page{background:black!important;color:rgb(200,200,200)!important}
  .logincard{box-shadow:0 0 5px 0 rgba(255,255,255,0.5)!important;}
  .logincard:hover{background:rgb(50,50,50)!important}
  .left-bar{background:rgba(0,0,0,0.8)!important;color:rgba(200,200,200)!important;fill:rgba(200,200,200)!important;border-right:1px solid rgb(50,50,50)!important;box-sizing:border-box!important}
  .setting{border:1px solid rgb(50,50,50)!important}
  .close-btn{background:black!important;fill:white!important}
  .setting .close-btn:hover{background:red!important;fill:white!important}
  .setting .close-btn:active{background:red!important;fill:#ffc5c5!important}
  .list:hover{background:rgba(100,100,100,0.2)!important}
  .list.active{background:rgba(100,100,100,0.3)!important}
  .txtblock{background:rgb(30,30,30)!important;color:rgb(200,200,200)!important}
  .set select{background:rgb(30,30,30)!important;color:rgb(200,200,200)!important}
}